*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: #26FF44;
}
section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100px;
}